body{
    background-color: whitesmoke;
    background-image: url(images/background.gif);
    background-size: cover;
}
.topnav {
    background-color: #333;
    overflow: hidden;
}
.topnav input, .topnav button  {
    float: left;
    padding: 7px;
    border: white;
    margin: 10px;
    font-size: 17px;
    border-radius: 50px;
}
.topnav a {
    float: right;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-size: 16px;
}
.sbdintro{
    width: 50%;
    height:300px;
    float:left;
}
.sbdintro2{
    width: 50%;
    height:300px;
    float:right;
}
.ipfworld{
    position:relative;
    top:200px;
}

.container{
    display:flexbox;

}

.sbddesc{
    position: relative;
    top: 70px;
    float:left;
    border: 1px solid red;
    background-color: black;
    opacity: 0.6;
    color:white;
    justify-content: center;
    padding: 20px;
    font-size: 25px;
}